@media (min-width: 768px) {
    /* Styles for screens with a minimum width of 768px */
    .Temp {
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
    }
  }
  
  @media (min-width: 1024px) {
    /* Styles for screens with a minimum width of 1024px */
    .Temp {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  .card {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
  }
  
  .cardTitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .cardValue {
    background-color: #e5f7f2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border-radius: 0.25rem;
  }
  
  .temperature {
    background-color: #c6f0d5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border-radius: 0.25rem;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .status {
    background-color: #f9f4de;
    padding: 1rem;
    border-radius: 0.5rem;
  }
  
  .doorStatus {
    color: #008000;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .lastOpened {
    font-size: 1.2rem;
  }
  
  /* Responsive Styles */
  @media (max-width: 767px) {
    .Temp {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    
    .card {
      width: 100%;
    }
    
    .cardValue,
    .temperature,
    .status {
      justify-content: flex-start;
    }
    
    .cardValue {
      margin-bottom: 0.5rem;
    }
    
    .cardTitle,
    .doorStatus {
      text-align: center;
    }
  }
  