body {
  background-color: #fff;
  color: #000;
  font-family: 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  color: #000;
  font-family: 'Helvetica', sans-serif;
  font-weight: 600;
  margin: 10 0 10px;
}

h1 {
  font-size: 30px;
  text-align: center;
  margin-top: 100px;
}

button {
  background-color: #fff;
  border-radius: 10px;
  border-color: #333;
  color: #000;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 50px;
  margin-right: 20px;
}

button:hover {
  background-color: #333;
  color: #fff;
}

input[type="text"], input[type="email"], input[type="password"], textarea {
  border: none;
  border-bottom: 1px solid #333;
  font-size: 16px;
  padding: 10px;
  width: 35%;
}

textarea {
  height: 150px;
}

footer {
  color: #333;
  padding: 10px;
  text-align: center;
  font-size: 14px;
}

nav {
  background-color: #fff;
  color: #000;
  font-size: 20px;
  padding: 20px;
}

nav a {
  color: #000;
}

nav ul {
  list-style: none;
  margin: 10;
  padding: 10;
  float: right;
}

nav li {
  margin-left: 20px;
  display: inline-block;
}