.mapTitleDiv p{
    position: relative;
    left: 400px;
    color: rgb(217, 228, 233);
    font-weight: 700;
    font-size: 20px;
    margin: 0px;
  }
  
  .mainMap {
    width: 90%;
    height: 80%;
    border: 2px solid black;
    border-radius: 5px;
    margin-left: 160px;
  }
  
  .mapHint {
    color: rgb(217, 228, 233);
    font-weight: 700;
    font-size: 20px;
  }
  
  .mapButtonDiv{
    width: 150px;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 15px;
    top: -1100px;
  }
  
  .mapButtons{
    width: 150px;
    height: 65px;
    margin-bottom: 15px;
  }